html
  head
    title=config.sitename
    link(href='/main.css',rel='stylesheet')/
    meta(charset='utf-8')/
  body(class='login')
    h2(class='logo')=config.sitename
    form(class='login_form',action='/api/login/',method='post')
      if error
        div(class='alert alert-danger')=error
      label(class='form_label')='E-Mail'
      input(class='form_input',name='email',type='email',required)
      label(class='form_label')='Password'
      input(class='form_input',name='password',type='password',required)
      button(class='btn btn-primary btn-block',type='submit')='Sign In'
  