div(class='navbar')
  div(class='items')
    div(class='container')
      span(class='logo_nav')=config.sitename
      ul
        li(class=(page=='Home'))
          a(href='/')='Home'
        li(class=(page=='Tunnels'))
          a(href='/tunnels/')='Tunnels'
        li(class=(page=='BGP'))
          a(href='/bgp/')='BGP Sessions'
        li()
          a(href='/api/logout/')='Sign Out'
        
      